.wrapper {
  display: flex;
  flex-direction: column;
}

.store {

}

.titles {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  align-items: center;
}

.titles h1 {
  color: #F6323D;
}

.titles img {
  height: 57px;
  padding-top: 12px;
}

h2 {
  padding-left: 8px;
  color: #505050;
}

.category_item {
  margin: 10px;
  width: 76px;
  margin-left: 0px;
}

.text_bold {
  text-decoration: none;
  font-weight: bold;
  color: #F6323D;
  font-size: 18px;
}

.text_normal {
  text-decoration: none;
  color: #505050;
  font-size: 18px;
}

.items_list {
  padding-left: 8px;
}

.item_container p {
  margin-bottom: 5px;
}

.hide {
  display: none;
}

.bold{
  font-weight: bold;
  color: #F6323D;
}

.not_bold {
  color: #101010;
}

.show {
  font-style: italic;
  text-align: left;
}
